<nav class="navbar navbar-expand-lg navbar-light bg-light-blue " style="position: fixed; top: 0; width: 100%;  z-index: 1000;">
  <div class="container">
    <!-- Logo on the left -->
    <a class="navbar-brand" href="#">
      <img class="img-fluid" src="assets/logo1-01.png" width="200" height="100">
    </a>

    <!-- Button for mobile navigation toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links on the right -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav" >
        <!-- Your Angular Material buttons -->
        <li class="nav-item" style="margin-right: 3vw;">
          <button mat-button color="primary" routerLink="/home_page">Home</button>
        </li>
        <li class="nav-item" style="margin-right: 3vw;">
          <button mat-button color="primary" routerLink="/blogs_page">Blogs & Article</button>
        </li>
        <li class="nav-item" style="margin-right: 3vw;">
          <button mat-button color="primary" routerLink="/matrix_page">Health Matrix</button>
        </li>
        <li class="nav-item" style="margin-right: 3vw;">
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/login">
              <mat-icon>sync</mat-icon>
              Log In
            </button>
            <button mat-menu-item routerLink="/register_page">
              <mat-icon>sync_disabled</mat-icon>
              Register
            </button>
            <button mat-menu-item routerLink="/settings-page">
              <mat-icon>settings</mat-icon>
              Settings
            </button>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Profile">
            <mat-icon>account_circle</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>

  
</nav>


<!--      ======= Blog Section ======= -->

    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up">

        <div class="row gy-3 posts-list">
          <div class="header"><h1><b>Blogs & Articles</b></h1></div>

        <div class="bordered-container">
            <p>Most Popular</p>
        </div>

        <div class="headerimage">
        <div class="row">
        
          <div class="col-xl-3 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/d.jpg" alt="" class="img-fluid">
              </div>


              <h2 class="title">
                <a href="blog-details.html">Tips to Prevent Vision Loss  </a>
              </h2>

            </article>
          </div>

          <div class="col-xl-3 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/1.2.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="blog-details.html">28 Health and Nutrition Tips That Are Actually Evidence-based</a>
              </h2>
            </article>
          </div>
          
          <!-- End post list item -->


          <div class="col-xl-3 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/a.png" alt="" class="img-fluid">
              </div>


              <h2 class="title">
                <a href="blog-details.html">Healthy lifestyle: 5 keys to  a longer life - Hardvard Health  </a>
              </h2>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-3 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/c.jpg" alt="" class="img-fluid">
              </div>



              <h2 class="title">
                <a href="blog-details.html">Eat more fish, including a portion of oily fish</a>
              </h2>

            </article>
          </div><!-- End post list item -->
        </div>
        </div>

        </div><!-- End blog posts list -->
       <div class="aboutt">
        <section id="about" class="about" [@slideInOut]>
          <div class="container" data-aos="fade-up">

            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/b.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Medicines to Keep at Home | First Aid</h3>

                <p>
                 Your pharmacist is the best source of advice and information on medicines which can be bought over the counter. See your doctor if you are needing...
                </p>
                <a class="read-more-button" href="link-to-another-page.html">Read More</a>
              </div>
            </div>

          </div>
        </section>
 
        <section id="about" class="about" [@slideInOut]>
          <div class="container" data-aos="fade-up">

            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/e.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Healthy lifestyle: 5 keys to a longer life - Harvard Health</h3>

                <p>
                Healthy movement may include walking, sports, dancing, yoga or running. Eat a well-balanced, low-fat diet with lots of fruits, vegetables, and ...
                </p>
                <a class="read-more-button" href="link-to-another-page.html">Read More</a>
              </div>
            </div>

          </div>
        </section>
       
        <section id="about" class="about" [@slideInOut]>
          <div class="container" data-aos="fade-up">

            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/f.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>
                  Top 10 Foods for Health
                  </h3>
                <p>
                Fruit and vegetables are low in calories and nutrient dense, which means they are packed with vitamins, minerals, antioxidants, and fiber...
                </p>
                <a class="read-more-button" href="link-to-another-page.html">Read More</a>
              </div>
            </div>

          </div>
        </section>
      
        <section id="about" class="about" [@slideInOut]>
          <div class="container" data-aos="fade-up">

            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/g.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Tips to Prevent Vision Loss</h3>

                <p>
                1. Regular Check-up for your Eyes ; <br>2. A Healthy Diet to the Rescue ;<br> 3. Diabetes and Eye Health ; <br>4. Give up Smoking ; <br>5. Wear Sunglasses. Kale. ...
                </p>
                <a class="read-more-button" href="link-to-another-page.html">Read More</a>
              </div>
            </div>

          </div>
        </section>
        
        <section id="about" class="about" [@slideInOut]>
          <div class="container" data-aos="fade-up">

            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/h.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>28 Health and Nutrition Tips </h3>

                <p>
                  Health and Nutrition Tips That Are Actually Evidence-Based · <br>1. Limit sugary drinks · <br>2. Eat nuts and seeds · <br>3. Avoid ultra-processed foods · .....
                </p>
                <a class="read-more-button" href="link-to-another-page.html">Read More</a>
              </div>
            </div>

          </div>
        </section>
      </div><!-- End About Section -->

        <div class="center">
          <div class="pagination">
          
          <a href="#">Previous</a>
          <a href="#">1</a>
          <a href="#" class="active">2</a>
          <a href="#">3</a>
          <a href="#">...</a>
          <a href="#">Next</a>
          </div>
        </div>
        
      </div>
 




<!--footer-->
<footer class="text-white py-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Logo on the left -->
      <img src="assets/logonav.png" alt="Logo" width="200" height="80">

      <!-- Contact details on the right -->
      <div class="contact-details">
        <p>Contact: medicare@gmail.com</p>
        <p>Phone: (123) 456-7890</p>
      </div>
      
      <!-- Social icons on the right -->
      <div class="social-icons">
        <a href="#"><i class="fab fa-google" ></i></a>
        <a href="#"><i class="fab fa-facebook" ></i></a>
        <a href="#"><i class="fa-solid fa-paper-plane" ></i></a>
      </div>
    </div>
    
    <div class="row mt-4">
      <div class="col text-center">
        &copy; 2023 Medi Care. All rights reserved.
      </div>
    </div>
  </div>
</footer>


