.group:hover .group-hover\:block {
	display: block;
}




.col-md-6>* {
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

