.bg-light-blue {
  background-color: #cce6ff/* Light blue color */
}

.container {

  margin-top: 50px;
  margin-bottom: 100px;
}

div {

  margin-top: 10px;
  margin-bottom: 10px;

}

div {

  margin-top: 10px;
  margin-bottom: 10px;


}


@media screen and (max-width: 768px) {
  .rec177{
    width: 80vw;

  }

}

.header{
  margin-top: 100px;
  padding-top: 100px;

}

h1{
  border-bottom:3px solid #000000;
}

.matric {
  width: 100%; /* Ensures the container takes full width of the viewport */
  margin-left:-260px;
  text-decoration-color: #070815;
}
.text {
  font-size: 16px; /* Set your desired font size */
  text-align: center; /* Center the text horizontally */
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media screen and (min-width: 1200px) {
  .text {
    font-size: 18px; /* Adjust font size for larger screens */
  }
}


.custom-card {
  background-color: darkblue;
  color: white;
}

.column-space {
  padding-right: 7vw; /* 7vw / 2 = 3.5vw (half of the desired space) */

}




footer{
  background: #3f51b5;

}
.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  font-size: 24px;
  color: white;
  margin-left: 10px;
  margin-right: 2vw;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: lightgray;
}