<section class="" style="background-color: #eee;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light-blue" style="position: fixed; top: 0; width: 100%;  z-index: 1000;">
    <div class="container">
      <!-- Logo on the left -->
      <a class="navbar-brand" href="#" id="navlogo">
        <img src="assets/logo.png" height="60">
      </a>
  
      <!-- Button for mobile navigation toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navigation links on the right -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav" >
          <!-- Your Angular Material buttons -->
          <li class="nav-item" style="margin-right: 3vw;">
            <button mat-button color="black" routerLink="/home_page">Home</button>
          </li>
          <li class="nav-item" style="margin-right: 3vw;">
            <button mat-button color="black" routerLink="/blogs_page">Blogs & Article</button>
          </li>
          <li class="nav-item" style="margin-right: 3vw;">
            <button mat-button color="black" routerLink="/matrix_page">Health Matrix</button>
          </li>
          <li class="nav-item" style="margin-right: 3vw;">
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/login">
                <mat-icon>sync</mat-icon>
                Log In
              </button>
              <button mat-menu-item routerLink="/register_page">
                <mat-icon>sync_disabled</mat-icon>
                Register
              </button>
              <button mat-menu-item routerLink="/doctor_dashboard">
                <mat-icon>settings</mat-icon>
                Settings
              </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="menu" color="black" aria-label="Profile" >
              <mat-icon>account_circle</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  
    
  </nav>

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        
        <div class="card" style="border-radius: 1rem;" id="card">
          
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/consultant_3.jpg"
                   alt="login form" class="img-fluid " style="border-radius: 1rem 0 0 1rem;"  />
            </div>
           
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()"class="mx-1 mx-md-4">
                  
    
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input [(ngModel)]="loginUser.email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                  </div>
    
                 
  
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input [(ngModel)]="loginUser.password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                  </div>
                  
  
    
                  <div class="text-danger" *ngIf="loginForm.submitted && !loginForm.valid">
                    Please check the required fields.
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
