table{
    color: #0D1028;
}
.row flex-nowrap{
    width: 10%;
}
.custom-btn{
    color: #0D1028;
    border-color: #222A6A;
}
.custom-btn:hover {
    background-color: #222A6A; /* Change to the desired hover color */
    color: #ffffff; /* Change to the desired text color */
}
.demo-section{
    width: 10%;
}
#add{
    margin-top: 20px;
    background-color: #0D1028;
    color: #D2E9E9;
}
#navbarVertical{
    background-color: #D2E9E9;
    width: fit-content;
    color: #0D1028;
}
#navbarHorizantal{
    background-color: #D2E9E9;
    color: #0D1028;
    border-radius: 25px;
}
#right{
    padding: 10px;
    display: flex;
    justify-content: center; /* For horizontal centering */
    align-items: center; /* For vertical centering */
}
.nav-link{
    color: #515365;
}
.nav-link.active, .nav-link:focus, .nav-link:hover {
    color: #222A6A;
    border: 2px solid #222A6A;
}
.accordian-body{
    width: 2000px;
}

@media screen and (max-width: 600px) {
  #navbarHorizantal #search {
    float: none;
  }
  #navbarHorizantal a, #navbarHorizantal input[type=text], #navbarHorizantal #search button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  #navbarHorizantal input[type=text] {
    border: 1px solid #ccc;  
  }
}