<div class="card" style="width: 15rem; border-radius: 10px; background-color: rgba(147, 189, 247, 0.149); position: relative;">
  <img class="card-img-top" src="assets/avatardoc.png" alt="Card image cap" style="padding: 1%; transform: scale(0.4); margin-top: -3vw;">
  <div class="card-body">
    <div class="bottom-section">
      <span class="title" style="margin-top: -5vw;">Chalana Shehara</span>

      <div class="row row2" >
        <div class="item">
          <span class="big-text" style="color: rgb(99, 163, 230);">25 Years Old</span>
         
        </div>
        <div class="item">
          <span class="big-text" style="color: rgb(99, 163, 230);">
            <i class="fas fa-map-marker" style="color: rgb(99, 163, 230);" ></i> Kandy, SL
          </span>
          
        
        </div>
        
      </div>



      <div class="row row1">
        <div class="item">
          <span class="big-text">Blood</span>
          <span class="regular-text" style="font-size: 15px;">A+</span>
        </div>
        <div class="item">
          <span class="big-text">Height</span>
          <span class="regular-text" style="font-size: 15px;" >170 cm</span>
        </div>
        <div class="item">
          <span class="big-text">Weight</span>
          <span class="regular-text" style="font-size: 15px;">60 kG</span>
        </div>
      </div>
    </div>
  </div>


  
</div>
